@model Steps_d


 <form asp-controller = "Pedometer" asp-action ="StepsToCalories" method ="post">
      <label for="steps">Number of Steps:</label>
      <input type="number" id="steps" name="Steps"><br><br>
      
      <input type="submit" value="Calculate Calories">
</form>
    
    