@{
    ViewData["Title"] = "حساب السعرات الحرارية";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
      <a asp-controller = "Pedometer" asp-action = "Steps"> <input type="submit" value="Calculate Calories"> </a>
</div>
